<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.createanet.footballformapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.intent.REGISTER" />

    <permission
        android:name="uk.co.createanet.footballformapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="uk.co.createanet.footballform.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Footballform">

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="uk.co.createanet.footballform" />
            </intent-filter>
        </receiver>

        <service
            android:exported="true"
            android:name=".GCMIntentService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".DataChecker"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name"></activity>

        <activity
            android:name=".NewsDetailActivity"
            android:label="@string/title_activity_news_detail"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>
        <activity
            android:name=".PlayerVsDetailActivity"
            android:label="@string/title_activity_player_vs"
            android:launchMode="singleTop"
            android:parentActivityName=".PlayerVsTeamsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlayerVsTeamsActivity" />

        </activity>
        <activity
            android:name=".PlayerVsTeamsActivity"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>
        <activity
            android:name=".LiveScoreDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>
        <activity
            android:name=".FixtureDetailActivity"
            android:label="@string/title_activity_fixture_detail"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>
        <activity
            android:name=".FixtureGraphActivity"
            android:label="@string/title_activity_fixture_graph"
            android:launchMode="singleTop"
            android:parentActivityName=".FixtureDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FixtureDetailActivity" />

        </activity>
        <activity
            android:name=".GameDetailActivity"
            android:label="@string/title_activity_fixture_graph"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>

        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="ea1d1830f6ac32250f24cd035aadd620be285e81"/>

    </application>

</manifest>
